.row{
  margin: 0 auto;
  text-align: center;
}

.teams{
  color: red;
  @extend .row;
}

h3{
  display: inline-block;
}

h3:nth-child(2) {
    margin-left: 320px;
}

.player-inputs{

  margin-bottom: 20px;
}

input{

}

.submit-button{

}

.player-lists{

}

ul{
  display: inline-block;
}
