.myRow{
  margin: 0 auto;
  text-align: center;
}

.teams{
  color: red;
  @extend .myRow;
}

.player-inputs{
  margin-bottom: 20px;
}

ul{
  margin: 0;
  display: inline-block;
  list-style: none;
}


.remove{
  margin-left: 10px;
}

.players{
  text-align: left;
}
