<div id="page3">
    <div class="sub-title">
        <h3>Trade Value</h3>
    </div>

    <div class="player-lists myRow ng-cloak" ng-controller='analyzerController as tac'>
        <ul class="team1 players">
            <li ng-repeat='player in tac.yourTeam'>
                <span>{{player.name}}</span>
                <span><button ng-click="tac.yourTeam.splice($index,1)" type="button" class="remove" name="button">Remove</button></span>
            </li>
            <input type-ahead class='player-inputs' ng-model='tac.player1' placeholder='add player' type="text" value="">
            <span><button ng-click='tac.updateTeam(tac.player1, tac.yourTeam)' type="button"  class="add" name="button">Add</button></span>
        </ul>
        <ul class="team2 players">
            <li ng-repeat='player in tac.otherTeam'>
                <span>{{player.name}}</span>
                <span><button ng-click="tac.otherTeam.splice($index,1)" type="button" class="remove" name="button">Remove</button></span>
            </li>
            <input type-ahead class='player-inputs' ng-model='tac.player2' placeholder='add player' type="text" value="">
            <span><button ng-click='tac.updateTeam(tac.player2, tac.otherTeam)' type="button"  class="add" name="button">Add</button></span>
        </ul>
        <div class="submit-button myRow">
            <button><a ui-sref="otherTeam">Other Team</a></button>
            <button id='new-trade' ng-click='tac.tradeAnalysis(tac.yourTeam, tac.otherTeam)'>Analyze New Trade!</button>
        </div>
        <div class="myRow">
            <div class="results">{{tac.advice[0]}}</div>
            <div class="results">{{tac.advice[1]}}</div>
            <div class="results">{{tac.advice[2]}}</div>
        </div>
    </div>
</div>
