.row {
  margin: 0 auto; }

.heading {
  text-align: center; }

.teams {
  text-align: center; }

h3 {
  display: inline-block; }

h3:nth-child(2) {
  margin-left: 320px; }

.player-inputs {
  text-align: center;
  margin-bottom: 20px; }

input {
  text-align: center; }

input:nth-child(2) {
  margin-left: 250px; }

.submit-button {
  text-align: center; }
