<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Fantasy Football</title>
      <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-app="myApp">
      <div ng-controller='dataController as dc'>
          <div class="row">
              <h1 id="heading">{{dc.title}}</h1>
          </div>
          <div class="teams">
              <h3>Your Team</h3>
              <h3>Other Team</h3>
          </div>
          <div class="player-lists">
            <ul class="team1 players">
              <li ng-repeat='player in dc.team1'>
                {{player.name}}<span><button type="button" name="button">Remove</button></span>
              </li>
              <input type="text" value=""><span><button type="button" name="button">Add</button></span>
            </ul>
            <ul class="team2 players">
              <li ng-repeat='player in dc.team2'>
                {{player.name}}<span><button type="button" name="button">Remove</button></span>
              </li>
              <input type="text" value=""><span><button type="button" name="button">Add</button></span>
            </ul>
          <div class="submit-button">
            <button type="submit">Analyze Trade!</button>
          </div>
        </div>
      </div>
      <script src="vendor/angular/angular.js"></script>
      <script src="main/app.js"></script>
      <script src="data/data.js"></script>
      <script src="data/dataController.js"></script>
      <script src="data/dataFactory.js"></script>
      <script src="data/falcFactory.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.2.js"></script>
  </body>
</html>
