.myRow, .sub-title {
  margin: 0 auto;
  text-align: center;
  vertical-align: top; }

.sub-title {
  color: red; }

.player-inputs {
  margin-bottom: 20px; }

ul {
  margin: 0;
  padding-left: 0px;
  display: inline-block;
  list-style: none; }

h3 {
  display: inline-block; }

.remove {
  margin-left: 10px; }

.players {
  text-align: left; }

.submit-button {
  margin-top: 10px; }

.player-inputs {
  margin-top: 10px; }

.team2 {
  margin-left: 20px; }

.next {
  display: block; }

a {
  color: black;
  text-decoration: none;
  /* no underline */ }

button {
  cursor: pointer; }

.results {
  margin-top: 10px; }

.ng-cloak {
  display: none !important; }
